.nav {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;

  img {
    height: 30px;
  }

  a {
    text-decoration: none;
    color: teal;
    font-family: "DM Serif Text", "Helvetica", "sans-serif";
  }

  .nav-right {
    margin: 20px;
    padding: 0;
    display: flex;
    gap: 30px;
    float: right;
  }
}
