<div class="form">
  <div class="card-form">
      <h3>Add a new category</h3>
      <%= simple_form_for @category do |f| %>
        <%= f.input :name, label: "Category Name: " %>
        <%= f.input :image, as: :file %>
        <br>
        <%= f.submit class: "btn btn-success" %>
      <% end %>
    </div>
</div>
